<h1>StudyRecords Topページ</h1>
<%=link_to(new_user_path) do %>
 <button class="btn btn-secondary btn-lg" >ユーザー登録</button>
<%end%>
<%=link_to(login_path) do %>
 <button class="btn btn-secondary btn-lg" >ログインページ</button>
<%end%>