<footer class="text-center text-lg-start bg-light text-muted position-absolute bottom-0 w-100">
  <div class="text-center p-4">
    © <%= Time.current.year %> Copyright:
    <%= link_to 'Study Records', tops_path, class: "text-reset fw-bold"  %>
  </div>
</footer>
