<p style="color: green"><%= notice %></p>

<h1>Subjects</h1>

<div id="subjects">
  <% @subjects.each do |subject| %>
    <%= render subject %>
    <p>
      <%= link_to "Show this subject", subject %>
    </p>
  <% end %>
</div>

<%= link_to "New subject", new_subject_path %>
